.picture {
  margin-bottom: 32px;

  @media (min-width: 580px) {
    margin-bottom: 40px;
  }

  @media (min-width: 820px) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.sliderMain {
  position: relative;
  width: 100%;
  // height: 74vw;
  max-height: 688px;

  @media (min-width: 580px) {
    margin-bottom: 14px;
    // height: 92vw;
  }

  @media (min-width: 820px) {
    // height: 60vw;
  }

  @media (min-width: 1120px) {
    // height: 48vw;
  }
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderThumbnails {
  display: none !important;

  @media (min-width: 580px) {
    display: block !important;
    height: 22vw;
    max-height: 138px;
  }

  @media (min-width: 820px) {
    height: 12vw;
    max-height: 120px;
  }

  @media (min-width: 820px) {
    height: 12vw;
    max-height: 120px;
  }

  @media (min-width: 1120px) {
    max-height: 162px;
  }
}

.slideThumbnail {
  border-radius: 16px;
  overflow: hidden;
}

.imgThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  border-radius: 50%;
  outline-offset: 4px;

  svg {
    fill: white;
    stroke: #1c1c1c;
    fill-opacity: 0.6;

    transition:
      stroke 0.3s ease-in-out,
      fill-opacity 0.3s ease-in-out,
      fill 0.3s ease-in-out;

    &:hover {
      fill-opacity: 1;
    }

    &:active {
      fill: #1c1c1c;
      stroke: white;
      fill-opacity: 1;
    }

    &:disabled {
      fill-opacity: 0.2;
    }
  }
}

.next {
  right: 16px;

  @media (min-width: 580px) {
    right: 24px;
  }
}

.prev {
  left: 16px;

  @media (min-width: 580px) {
    left: 24px;
  }
}
